@import "tailwindcss";

@theme {
  --font-sans: "Momo Trust Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Momo Trust Display", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    @apply font-sans antialiased;
  }
}

h1 {
  font-family: "Momo Trust Display", ui-sans-serif, system-ui, sans-serif;
  @apply text-4xl font-bold;
}